.main#contact {
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-xxl {
    height: 93vh;
}

.title-page {
    height: 8vh;
}

.content {
    width: 100%;
    height: 85vh;
}

i {
    margin-right: 10px;
}

.partners {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
}

.map {
    width: 100%;
    height: 30vh;
}

iframe {
    width: 100%;
    height: 30vh;
}