.main#about {
    width: 100%;
    min-height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

i#icon-price {
    color: rgb(123, 123, 240);
    font-size: 20px;
    padding-right: 8px;
    padding-top: 8px;
    text-align: center;
    padding-bottom: 8px;
}

p.about#title {
    color: rgb(0, 0, 0);
}